* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;

    .signUpBlock,
    .signInBlock {
        width: 500px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input[type=submit] {
                width: 100%;
            }

            p {
                position: absolute;
                bottom: -73px;
                left: 7px;
                color: blue;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .signUpBlock {
        height: 400px;
        top: 20%;
        position: relative;

        .errorSignUp {
            position: absolute;
            bottom: 97px;
            left: 0px;
            width: 200px;
            height: 38px;
            color: white;
            background-color: red;
            border-radius: 7px;
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    .signInBlock {
        display: none;
        height: 250px;
        top: 30%;
        position: relative;

        .errorInMessage {
            position: absolute;
            bottom: 19px;
            left: 0px;
            width: 200px;
            height: 38px;
            color: white;
            background-color: red;
            border-radius: 7px;
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    .profile {
        background-color: white;
        border-radius: 7px;
        width: 400px;
        height: 400px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        display: none;

        img {
            width: 150px;
            height: 150px;
            margin-top: 20px;
        }

        input {
            width: 100%;
        }

        .position,
        .userEmail {
            font-size: 20px;
            color: rgb(184, 184, 184);
            position: relative;
        }

        .position::after {
            content: '';
            width: 30%;
            height: 3px;
            background-color: rgb(184, 184, 184);
            position: absolute;
            top: 40px;
            left: 35%;
        }
    }
}